1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [91]:
#1. HelloWorld Replacement
#1A:
# for i in range(1,101):  #returns i , 1 to 100
#     if i%3 == 0 and i%5 == 0:  # when i multiple of 15
#         print("HelloWorld")
#     elif i%5 == 0: #when i multiple of 5
#         print("World")
#     elif i%3 == 0: #when i multiple of 3
#         print("Hello")
#     else:
#         print(i)
    
#1B In this time i tried to make a function to append items to list then it will return it to a tuple.
def hello_world(x,n):
    liste=[]
    for i in range(x,n+1):  #returns i , x to n
        if i%3 == 0 and i%5 == 0:  # when i multiple of 15
            liste.append("HelloWorld")
        elif i%5 == 0: #when i multiple of 5
            liste.append("World")
        elif i%3 == 0: #when i multiple of 3
            liste.append("Hello")
        else:
            liste.append(i)
    return tuple(liste) #turned tuple
tuple_2 = hello_world(1,100) #here is the tuple.
#now we can swap items
len(tuple_2)
#print(tuple_2)

100

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [95]:
def swap_func(x,y):
    x,y = y,x
    return x,y
swap_func("4",5)

(5, '4')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [101]:
def euclidean_distance(t1,t2):
    (x,y) = t1
    (x2,y2) = t2
    return ((x2-x)**2+(y2-y)**2)**(1/2)
euclidean_distance((0,0),(3,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [103]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

def char_counter(string):
    charlist = []
    countchar = {}
    for i in range(len(string)):
        if string[i] not in charlist:
            charlist.append(string[i])
            counchar
        elif string[i] in charlist:
            
    return charlist
char_counter(s)

['W',
 'r',
 'i',
 't',
 'e',
 ' ',
 'a',
 'p',
 'o',
 'g',
 'm',
 'h',
 'n',
 's',
 'u',
 'b',
 'f',
 '1',
 '0',
 '.',
 'B',
 'l',
 'H',
 'd',
 'v',
 'F',
 'w',
 'c']

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one