In [2]:
import pandas as pd
import numpy as np

1\. Perform the following operations on plain `txt` files:

+ create a list of integrer numbers and then save it to a text file named "data_int.txt". Run the `cat` command to print the content of the file.
+ create a matrix of 5x5 floats and then save it to a text file named "data_float.txt". Use the `cat` command to print the content of the file.
+ load the txt file of the previous point and convert it to a csv file by hand.

In [3]:
list_int = np.arange(10)

textfile_integer = open("data/data_int.txt", "w")

for element in list_int:
    textfile_integer.write(str(element) + "\n")
textfile_integer.close()

with open("data/data_int.txt", mode = 'r') as f:
    # print-out the whole file
    # print(f.read()) 
    for line in f:
        # print line by line
        print(line)
        # each line is a string, you need to split it yourself
        #for c in line.split(','): print("  ", c) # check the functionalities of the split() method

0

1

2

3

4

5

6

7

8

9

In [4]:
list_float_5x5 = np.arange(1,26,dtype = float).reshape(5,5)
#list_float_5x5 = [[float(i) for i in range(5)] for i in range(5)]


#textfile_float = open("data/data_float.txt", "w")
""""

for element in list_float_5x5:
    if (list_float_5x5.index(element)+1)%5 == 0:
        textfile_float.write(str(element) + "\n")
    else: 
        textfile_float.write(str(element) + ",")
textfile_float.close()
"""""
np.savetxt('data_float.txt',list_float_5x5)

In [5]:
csv = open("data/data_float.csv", "w")


with open('data/data_float.csv', 'w', newline='') as file:
    for element in list_float_5x5:
        file.write(str(element) + ",")
    file.close()
    

pd.read_csv('data/data_float.csv')

Empty DataFrame
Columns: [[1. 2. 3. 4. 5.], [ 6.  7.  8.  9. 10.], [11. 12. 13. 14. 15.], [16. 17. 18. 19. 20.], [21. 22. 23. 24. 25.], Unnamed: 5]
Index: []

2\. Load the file *user_data.json*, which can be found at:

- https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json

and filter the data by the "CreditCardType" when it equals to "American Express". Than save the data to a new CSV file.

In [9]:
import json # import the JSON module
data = json.load(open('data/user_data.json'))
with open('data/user_data.json') as f:
    data = json.load(f)
#data['ID']['JobTitle']['EmailAddress']['FirstNameLastName']['CreditCard']['CreditCardType']
data = pd.DataFrame(data)
new_DF = data[data['CreditCardType'] == 'American Express']
new_DF.to_csv("Filtered_User_Data.csv")
new_DF

3\. Load the file from this url:

- https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv

with Pandas. 

+ explore and print the DataFrame
+ calculate, using `groupby()`, the average value of each feature, separately for each class
+ save the file in a JSON format.

In [11]:
#data = pd.read_csv('https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv')
data = pd.read_csv('https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv?dl=1')
#get tokinize error so added '?dl=1' the end of the url to load it

data

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,1,5,2,4,1,6,1,0,1,4,...,2,7,7,0,2,1,4,2,3,5
1,0,5,2,9,1,0,1,0,0,4,...,2,7,7,0,2,1,4,3,2,1
2,0,0,2,8,1,3,1,0,0,5,...,2,7,7,0,2,1,4,3,2,3
3,1,5,3,8,1,6,1,0,1,5,...,2,7,7,0,2,1,4,2,3,5
4,0,5,2,3,0,5,1,1,0,4,...,2,7,7,0,2,1,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,0,3,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,0,1,2
8120,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,0,1,4,0,4,2
8121,0,2,2,4,0,5,0,0,0,5,...,2,5,5,0,1,1,4,0,1,2
8122,1,3,3,4,0,8,1,0,1,0,...,1,7,7,0,2,1,0,7,4,2
8123,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,4,1,2

In [23]:
data.columns

Index(['class', 'cap-shape', 'cap-surface', 'cap-color', 'bruises', 'odor',
       'gill-attachment', 'gill-spacing', 'gill-size', 'gill-color',
       'stalk-shape', 'stalk-root', 'stalk-surface-above-ring',
       'stalk-surface-below-ring', 'stalk-color-above-ring',
       'stalk-color-below-ring', 'veil-type', 'veil-color', 'ring-number',
       'ring-type', 'spore-print-color', 'population', 'habitat'],
      dtype='object')

4\. Get the binary file named *credit_card.dat* from this address:

- https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat

and convert the data into the real credit card number, knowing that:
- each line corresponds to a credit card number, which consists of 16 characters (which are numbers in the 0-9 range) divided in 4 blocks, with a whitespace between each block
- each character is written using a 6 bit binary representation (including the whitespace)
- the final 4 bits of each line are a padding used to determine the end of the line, and can be ignored

*Hint*: convert the binary numbers to the decimal representation first, and then use the `chr()` function to convert the latter to a char

In [109]:
binar = pd.read_csv("data/credit_card.dat")

def bin2int2char(n):  #input is string we have to slice it to 6 chars
    
    a = str() #empty string; we are going to append new chars to it
    for i in range(0,len(str(n))-6,6): #this returns i = [0,6,12,...len(n)]
        charr = chr(int(n[i:i+6],2))  #takes the string slices it, makes it binary to dec
                                        #and converts that val to char
        a+=charr #adds char to the string a
    return a

#268931906753213216287685809534065514
binar = pd.DataFrame(binar)
test1 = binar[binar.columns[0]][0]
binar[binar.columns[0]] = binar[binar.columns[0]].apply(bin2int2char)
(str(binar[binar.columns[0]][0]))

test123 = 268931906753213216287685809534065514

#df.rename(columns={"A": "a", "B": "c"})
#binar.columns[0] = bin2int2char(binar.columns[0])
binar.rename(columns={binar.columns[0]:bin2int2char(binar.columns[0])})

    7648 5673 3775 2271
0   3257 8247 3354 2266
1   2722 0001 4011 6652
2   0661 3063 3742 3150
3   0432 1608 1462 4742
4   5827 2027 8785 7303
5   5774 8528 2087 1117
6   8140 1210 6352 2845
7   5764 1133 7301 7100
8   6456 1737 4126 6726
9   1228 8631 7382 0000
10  7051 0160 5374 3166
11  0618 3587 1630 6376
12  1545 5454 7444 5636
13  6735 3116 3202 6834
14  7287 5011 1547 8413
15  7033 2607 3328 4200
16  2568 5244 1874 5024
17  1684 2253 7570 7118
18  0672 2576 0575 6631
19  6332 8353 8787 1340
20  1813 3361 1175 4211
21  2477 6450 8840 2368
22  5512 3505 2563 1326
23  3083 7882 0621 0025
24  4521 5148 8045 0334
25  7563 3654 8713 5787
26  8324 2664 0476 5561
27  0565 2504 7168 3510
28  5107 5507 1767 0738
29  2462 1821 2448 1443
30  2788 0638 6861 6554
31  5851 5873 5474 0547
32  0670 1004 4013 2655
33  5874 5506 3048 0806
34  2805 5401 8462 1260
35  5083 8406 6310 1862
36  1076 1445 3013 2266
37  8440 4804 4844 5277
38  4758 6141 0686 1387
39  7586 0675 0315 2568
40  2544 1258 7432 5165
41  3474 5023 4434 5626
42  1410 0270 0434 5086
43  7315 4446 1104 4215
44  0224 7742 8300 0266
45  0170 2700 3145 0640
46  2006 2437 8054 1600
47  8142 4055 1776 0026
48  3026 7380 1241 1084
49

In [ ]:
#manual csv 
#groupby missing

5\. **Optional**: load the remote file:

- https://www.dropbox.com/s/aamg1apjhclecka/regression_generated.csv

with Pandas and create a scatter plot with all possible combinations of the following features:
    
  + features_1
  + features_2
  + features_3